
#wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 300px));
    grid-auto-rows: minmax(50px, 300px);
    justify-content: center;
}

#wrapper>div{
    border: solid 2px black;
    font-size: 100px;
    justify-content: center;
    align-items: center;
}